/Chapter14 -JavaFX basics/Ex14_01/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_01/build/
/Chapter14 -JavaFX basics/Ex14_02/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_02/build/
/Chapter14 -JavaFX basics/Ex14_03/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_03/build/
/Chapter14 -JavaFX basics/Ex14_04/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_04/build/
/Chapter14 -JavaFX basics/Ex14_05/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_05/build/
/Chapter14 -JavaFX basics/Ex14_06/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_06/build/
/Chapter14 -JavaFX basics/Ex14_07/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_07/build/
/Chapter14 -JavaFX basics/Ex14_09/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_09/build/
/Chapter14 -JavaFX basics/Ex14_10/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_10/build/
/Chapter14 -JavaFX basics/Ex14_11/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_11/build/
/Chapter14 -JavaFX basics/Ex14_12/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_12/build/
/Chapter14 -JavaFX basics/Ex14_13/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_13/build/
/Chapter14 -JavaFX basics/Ex14_15/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_15/build/
/Chapter14 -JavaFX basics/Ex14_16/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_16/build/
/Chapter14 -JavaFX basics/Ex14_17/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_17/build/
/Chapter14 -JavaFX basics/Ex14_18/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_18/build/
/Chapter14 -JavaFX basics/Ex14_19/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_19/build/
/Chapter14 -JavaFX basics/Ex14_20/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_20/build/
/Chapter14 -JavaFX basics/Ex14_21/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_21/build/
/Chapter14 -JavaFX basics/Ex14_22/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_22/build/
/Chapter14 -JavaFX basics/Ex14_23/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_23/build/
/Chapter14 -JavaFX basics/Ex14_24/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_24/build/
/Chapter14 -JavaFX basics/Ex14_25/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_25/build/
/Chapter14 -JavaFX basics/Ex14_26/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_26/build/
/Chapter14 -JavaFX basics/Ex14_28/nbproject/private/
/Chapter14 -JavaFX basics/Ex14_28/build/